.rating-container {
    display: flex;
    align-items: center;
    /* border: 1px solid #ddd; */
    border-radius: 220px 8px;
    padding: 16px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    margin-top: 100px;
  }
  
  .rating-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .rating-content {
    margin-left: 20px;
    flex: 1;
  }
  
  .rating-content h2 {
    margin: 30px;
    font-size: 2.5rem;
    color: #006735;
  }
  
  .rating-content p {
    margin: 30px;
    font-size: 1rem;
    color: #666;
  }
  
  .rating-button {
    padding: 10px 20px; /* Add padding inside the button */
    background-color: #00b627; /* Green background color */
    color: #fff; /* White text color */
    border: none; /* Remove border */
    border-radius: 8px; /* Rounded corners */
    font-size: 1rem; /* Font size */
    font-weight: 600; /* Bold text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth hover effect */
    margin: 30px;
  }
  
  .rating-button:hover {
    background-color: #00604b; /* Darker green on hover */

  }