.features-section {
    background: linear-gradient(135deg, #44ff00, #00604b);
    font-family: 'Inter', sans-serif;
    color: #fff;
    padding: 60px 20px;
    border-radius: 300px 0 0 0;
}

/* For screens less than or equal to 576px (Bootstrap's mobile breakpoint) */
@media (max-width: 576px) {
    .features-section {
        border-radius: 200px 0 0 0;
    }
}


.features-heading {
    font-size: 2.5rem;
    font-weight: 700;
}

.features-description {
    font-size: 1.1rem;
    font-weight: 300;
}

.video-button {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: pulse 2s infinite;
    cursor: pointer;
}

.video-button:hover {
    background-color: #f0f0f0;
}

.video-icon {
    font-size: 1.5rem;
    color: #04cd29;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }
    70% {
        box-shadow: 0 0 0 20px rgba(0, 182, 146, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0, 182, 146, 0);
    }
}

.card {
    background-color: #ffffff4a;
    color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* centers all content horizontally */
    text-align: center;
    height: 100%; /* ensures full height inside the grid */
}

.card-icon {
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 20px;
}


.card-title {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.card-description {
    font-size: 1rem;
    margin-bottom: 15px;
}

.card-button {
    padding: 10px 20px;
    background-color: #00b627;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: #00604b;
}
