body, html {
    overflow-x: hidden;
  }
  
  .features-section {
    font-family: 'Inter', sans-serif;
    color: #333;
    padding: 60px 20px;
    background-image: url('../../assets/features.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
  }
  
  @media (max-width: 576px) {
    .features-section {
      background-image: url('../../assets/mobi.svg');
    }
  }
  
  .features-heading {
    font-size: 3.5rem;
    font-weight: 500;
    color: #ffffff;
  }
  
  @media (max-width: 576px) {
    .features-heading {
      font-size: 2.5rem;
    }
  }
  
  .features-description {
    font-size: 1.1rem;
    font-weight: 300;
    color: #fefefe;
  }
  
  .video-button {
    width: 80px;
    height: 80px;
    background-color: #04cd29;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: pulse 2s infinite;
    cursor: pointer;
    margin-top: 30px;
  }
  
  .video-button:hover {
    background-color: #008970;
  }
  
  .video-icon {
    font-size: 1.5rem;
    color: #ffffff;
  }
  
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 #701515;
    }
    70% {
      box-shadow: 0 0 0 20px rgba(0, 182, 146, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(0, 182, 146, 0);
    }
  }
  
  .feature-card {
    background-color: #ffffff00;
    color: #333;
    border: 2px solid #e0e0e0;
    border-radius: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
    
  }
  
  .feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.1);
    border-color: #00c56e;
  }
  
  .card-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
    border-radius: 16px 16px 0 0;
  }
  
  .card-title {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .card-description {
    font-size: 1rem;
    margin-bottom: 15px;
  }
  